html,body{
    margin: 0;
}
.sidebar{
    background:linear-gradient(45deg,deeppink,blueviolet);
    float:left;
    width: 200;
    height: 150vh;
    box-shadow: 0 4px 20px black;
    padding: 5px;
}
.sidebar a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    padding: 25px 25px;
    
}

.sidebar a:hover{
    background: linear-gradient(90deg, purple,black);
    border-radius: 10px;


    
}
.sidebar img{
    height: 150px;
    width:130px;
    background:linear-gradient(45deg,black,blueviolet);
    border-radius: 250px;
    margin: 20px auto;
    display: block;
}